.header {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #24242fcf;
    width: 100%;
    border-bottom: 1px solid var(--button-border-color);
    box-shadow: 1px 1px 4px 1px var(--button-border-color);
}

.content {
    padding-top: 60px; 
}
